
# Ignore slurm output files
slurm*.out

# Ignore swp files
*.swp

# Ignore images files
*.png
*.pdf

# Ignore core dumps
core*

# Ignore .npy files
*.npy

# Ignore log files
*.log

# Ignore database files from Rocoto
*.db

# Pycache
./modules/__pycache__

# Ignore pickle files
*.pkl
